# PROJECT_CONFIGS
PORT = 3000
DOMAIN = "localhost:3000"
PROJECT_NAME = "name"

# LOG
LOG_FORMAT = "combined"
LOG_DIR = "./logs"

# CORS
ORIGIN = "*"
CREDENTIALS = true

# DATABASE
DB_USER = "postgres"
DB_PASSWORD = "postrges_password"
DB_DATABASE_NAME = "postgres_db"
DB_HOST = "localhost"
DB_PORT = "5432"